<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>

<body>
{% include "navbar.html" %}

<div class="container">
  {% for item in data %}
  <form action="updateCourseClass?idCourseClass={{item[0]}}" method="post" class="mt-2">
      <div class="col-xs-3">
        <label for=""><b>ID: </b></label>
        <input type="text" class="form-control" value="{{item[0]}}" readonly tabindex="-1">
      </div> <br>
      <div class="col-xs-3">
        <label for=""><b>Mã lớp: </b></label>
        <input type="text" class="form-control" value="{{item[1]}}" name="codeCourseClass" id="codeCourseClass" tabindex="1"> <br>
      </div>
      <div class="col-xs-3">
        <label for=""><b>Tên lớp: </b></label>
        <input type="text" class="form-control" value="{{item[2]}}" name="nameCourseClass" id="nameCourseClass" tabindex="2"> <br>
      </div>

      {% if alert_message %}
      <script>
          setTimeout(function() {
              document.getElementById("alert").style.display = "none";
          }, {{ alert_duration }}000);

          function clearSessionVariable() {
            fetch('/clear_session_variable')
                .then(response => {
                    if (response.ok) {
                        // Cập nhật UI, ví dụ ẩn thông báo
                        document.getElementById('alert').style.display = 'none';
                    } else {
                        // Xử lý lỗi
                        console.log('Error clearing session variable');
                    }
                });
          }
          clearSessionVariable();
      </script>
      <div id="alert" 
        class="alert alert-{{ alert_type }}" 
        style="display: block; transition: opacity {{ alert_duration }}s ease-out;"
        ontransitionend="this.style.display='none'">
        {{ alert_message }}
      </div>
      {% endif %}

      <a class="btn btn-primary" href="/CourseClass" tabindex="4">Quay lại</a>
      <input type="submit" value="Lưu" class="btn btn-success" tabindex="3">
  </form>
  {% endfor %}
</div>
</body>
</html>