<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}

<div class="container">
    <div class="row mt-2">
        <a class="col-sm btn border w-100 p-3 mx-2" href="/addprsn">
            <img src="static\gif\copy.gif" width="100px"> <br>
            Thêm dữ liệu
        </a>

        <a class="col-sm btn border w-100 p-3 mx-2" href="/CourseClass">
            <img src="static\gif\school.gif" width="100px"> <br>
            Quản lý lớp học
        </a>

        <a class="col-sm btn border w-100 p-3 mx-2" href="/CourseClass">
            <img src="static\gif\profile.gif" width="100px"> <br>
            Thông tin tài khoản
        </a>
    </div>
</div>

</body>
</html>