<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}

<div class="container">
    <div class="row mt-2">
        <a class="col-sm btn border w-100 p-3 mx-2" href="/TeacherCourseClass">
            <img src="static\gif\school.gif" width="100px"> <br>
            Điểm danh lớp học
        </a>
        <a class="col-sm btn border w-100 p-3 mx-2" href="/DayRoom">
            <img src="static\gif\face-scan.gif" width="100px"> <br>
            Tạo điểm danh nhanh
        </a>
        <a class="col-sm btn border w-100 p-3 mx-2" href="/DayRoom">
            <img src="static\gif\profile.gif" width="100px"> <br>
            Thông tin cá nhân
        </a>
    </div>
</div>

</body>
</html>